.img{
    width:300px;
    height: 230px;
    
}
.card{
    color: rgb(17, 17, 17);
    color: yellow;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    display: flex;
    padding: 20px;
    text-align: center;
    justify-content:space-around;
    background-color: rgba(246, 238, 6, 0.953);
    text-shadow: 4px 4px 4px red;
    border: 3px solid yellow;
    box-shadow: 5px 5px 5px greenyellow;
     font-family: "Poppins", sans-serif;background: #1f2226;
     
}


.body{
    margin: 30px;
}



