.img{
    width:300px;
    height: 300px;
    
}
.card{
    color: rgb(17, 17, 17);
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    display: flex;
    padding: 20px;
    text-align: center;
    justify-content:space-around;
    background-color: rgba(246, 238, 6, 0.953);
    border-bottom:2px solid blueviolet;
}

.body{
    margin: 30px;
    
}


