.main{
     margin-top: 30px;
}

.Image{
   
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Inp{

    margin-top:30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 24px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    border: 1px solid rgba(186, 185, 185, 0.737);
    border-radius: 24px;
}

.fbox{
    display: flex;
    justify-content: center;
}

.Btn1{

    margin-top: 75px;
    margin-left: 5px;
    margin-right: 5px;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
    border: none;
    font-size: 13px;
    background: rgb(221, 218, 218);
    border-radius: 4px;
}

.Inp:focus{
    outline: none;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

.Btn1:hover{
    border: 1px solid #dadce0;
    cursor: move;
}




