 .container1{
                
                width: 450px;
                /* height: 500px; */
                border: 3px solid rgb(231, 193, 1);
                padding-left: 20px;
                display: flex;
                flex-direction: row;
                margin: 3px;
               
                
            }

            .left-box{
                width: 40%;
                /* height: 150px; */
                margin-top: 18px;
                background-color: pink;
                display: flex;
                flex-direction: column;
                padding: 5px;
                margin: 10px;
                /* border: 3px solid green; */
            
            }

            .right-box{
                margin-top: 5px;
                width: 300px;
                height: 150px;
                padding-left: 20px;
               

            }

            .Image{
                 width: 120px;
                 height: 100px;
                border: 3px solid rgb(0, 21, 128);
                 margin-top: 5px;
            }

            .text1{
                border: solid 2px rgb(0, 255, 98);
            }
            

         @media (max-width:500px){

                .container1{
                    flex-direction: column;
                }
            }